<div class="bigspacer"></div>
{% for paper in site.categories.papers %}
  <div class="row">
    <div class="col-md-12 paperbox">
      <div class="media">
        <div class="media-body">
          <div class="smallhead media-heading">
            <p>{{ paper.title }}</p>
          </div>
          <p class="authors">{{ paper.authors }}</p>
          <p class="journal">
            {{ paper.journal }}{% if paper.volume %}, {{ paper.volume }}{% endif %}{% if paper.issue %} ({{ paper.issue }}){% endif %}{% if paper.pages %}: {{ paper.pages }}{% endif %} ({{ paper.year }}).
          </p>
          <!-- ... other publication details ... -->
        </div>
      </div>
    </div>
  </div>
  <div class="bigspacer"></div>
{% endfor %}