---
layout: default
title: "Publications"
description: "Research papers from the lab"
group: navigation
navorder: 4
---
{% include JB/setup %}
<style>
  .authors {
    margin-bottom: 0px;
    line-height: 20px;
    font-style: italic;
  }
  .research-areas {
    margin-top: -1px;
  }
</style>
<p>Click on the papers for pdf/fulltext.<br></p>
{% assign total_papers = site.categories.papers | size %}
{% assign memberindex = total_papers %} <!-- Start with the total number of papers for numbering -->
{% for paper in site.categories.papers %}
  {% assign colindex = memberindex | modulo: 1 %}
  {% if colindex == 0 %}
    <!-- opening of a new row -->
    <div class="row">
  {% endif %}
    <div class="col-md-4 paperbox">
      <div class="media">
        <div class="media-body">
          <div class="smallhead media-heading">
            {% if paper.preprint %}
              <a href="{{ paper.pdflink }}" class="off">PREPRINT: {{ memberindex }}. {{ paper.title }}</a>
            {% else %}
              <a href="{{ paper.pdflink }}" class="off">{{ memberindex }}. {{ paper.title }}</a>
            {% endif %}
            <br>
          </div>
          <p class="authors">{{ paper.authors }}</p>
          <!-- Display research areas -->
          <p class="research-areas">
            Research Areas:
            {% for tag in paper.tags %}
              <span class="research-area">{{ tag }}{% unless forloop.last %}, {% endunless %}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  {% if colindex == 0 %}
    <!-- closing a row -->
    </div>
  {% endif %}
  {% assign memberindex = memberindex | minus: 1 %}
{% endfor %}
{% if colindex != 0 %}
  <!-- close last open row -->
</div>
{% endif %}
